@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*Loader*/
body {
  max-width: 1440px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  background-color: #FFFFFF;
  padding: 15px;
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  /*opacité de la couleur*/
}
@media (min-width: 768px) {
  header {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

#city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  text-align: center;
  background-color: #EAEAEA;
  border-top: 2px solid #EAEAEA;
  padding: 0.3rem;
  border-bottom: 0;
  font-size: 10px;
}
@media (min-width: 768px) {
  #city {
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
#city i {
  font-size: 20px;
  padding-left: 40px;
}
#city input {
  border: 0;
  background-color: #EAEAEA;
}

.btn-explore {
  text-align: center;
  background-color: #F6F6F6;
}
.btn-explore h1 {
  font-weight: bold;
  font-size: 30px;
  padding-top: 10%;
  color: #101010;
}
@media (min-width: 768px) {
  .btn-explore h1 {
    padding-top: 3%;
    font-size: 40px;
  }
}
.btn-explore p {
  margin-top: 5%;
  margin-bottom: 8%;
}
@media (min-width: 768px) {
  .btn-explore p {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
.btn-explore button {
  padding: 18px;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  background: linear-gradient(#ff79da, #9356dc);
  margin-top: 4px;
  box-shadow: 2px 1px 8px -3px black;
  margin-bottom: 10%;
  border: #9356dc;
}
@media (min-width: 768px) {
  .btn-explore button {
    margin-bottom: 3%;
  }
}
.btn-explore button:hover {
  cursor: pointer;
  box-shadow: 2px 1px 7px darkgray;
  opacity: 0.9;
}

.fonctionnement {
  counter-reset: section;
  /*a la place de <span> pour changer. Numérotation automatique*/
}
@media (min-width: 768px) {
  .fonctionnement {
    padding: 50px 180px;
    display: inline;
  }
}
.fonctionnement h2 {
  padding-left: 3%;
  margin-top: 10%;
  margin-bottom: 5%;
}
@media (min-width: 768px) {
  .fonctionnement h2 {
    margin-top: 2%;
  }
}
.fonctionnement ol {
  display: flex;
  gap: 20px;
  margin-bottom: 15%;
}
@media (max-width: 767px) {
  .fonctionnement ol {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 3%;
  }
}
@media (min-width: 768px) {
  .fonctionnement ol {
    margin-bottom: 3%;
    margin-right: 2%;
  }
  .fonctionnement ol i {
    display: flex;
    align-items: center;
  }
}
.fonctionnement li {
  position: relative;
  list-style-type: none;
  background-color: #F6F6F6;
  padding: 20px 20px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 2px 1px 7px -3px #7e7e7e;
}
.fonctionnement li:hover {
  color: #9356dc;
}
@media (min-width: 768px) {
  .fonctionnement li {
    display: flex;
    font-size: 13px;
  }
}
.fonctionnement li::before {
  /*content obligatoire même vide sinon ça marche pas*/
  content: counter(section);
  counter-increment: section;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356dc;
  border-radius: 50%;
  position: absolute;
  margin-left: -9%;
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .fonctionnement li::before {
    top: 20px;
    left: 30px;
  }
}
.fonctionnement li i.fas {
  margin-right: 16px;
  color: #7e7e7e;
  font-size: 20px;
  padding-left: 3%;
}
.fonctionnement li i.fas:hover {
  color: #9356dc;
}

.cards {
  background-color: #F6F6F6;
  padding-bottom: 5%;
}
@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    padding-bottom: 6%;
    margin-bottom: -1%;
  }
}
.cards h2 {
  margin-bottom: 20px;
  margin-left: 3%;
  padding-top: 5%;
}
@media (min-width: 768px) {
  .cards h2 {
    width: 100%;
    padding-top: 3%;
    margin-left: 10%;
  }
}
.cards .cards .cards_menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 60px;
  margin: 5%;
  margin-bottom: 2%;
  background-color: #FFFFFF;
  border: solid 1px #FFFFFF;
  box-shadow: 5px 5px 5px #FFFFFF;
}
@media (min-width: 768px) {
  .cards .cards .cards_menu {
    width: 200px;
  }
}
.cards .cards_menu {
  margin-bottom: 10%;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 20px;
  position: relative;
}
.cards .cards_menu span {
  display: flex;
  position: absolute;
  right: 4%;
  top: 20px;
  width: 80px;
  height: 30px;
  justify-content: center;
  background-color: #99E2D0;
  padding-top: 4px;
  color: #1b6150;
  /*Darken pour foncer la couleur sinon mettre color $grenn-font*/
}
@media (min-width: 768px) {
  .cards .cards_menu span {
    margin-left: 350px;
  }
}
@media (min-width: 768px) {
  .cards .cards_menu {
    margin-bottom: 2%;
  }
}
.cards .cards_menu h3 {
  margin-bottom: 2%;
  padding-left: 2%;
  color: #101010;
}
.cards .cards_menu .places {
  padding-left: 2%;
  margin-bottom: 3%;
  color: #101010;
}
.cards .heart i {
  font-size: 25px;
  position: absolute;
  right: 15px;
  top: 80%;
  background-clip: border-box;
  -webkit-background-clip: text;
}
.cards .heart .fas {
  color: transparent;
}
.cards .heart:hover .fas {
  background-image: linear-gradient(150deg, #9356dc, #ff79da);
  animation: heart 1s;
}
.cards .card {
  flex-grow: 1;
}
.cards .card img {
  width: 100%;
  height: 170px;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  margin-bottom: 2%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .cards .card img {
    height: 251px;
    width: 490px;
    object-fit: cover;
  }
}

.bloc_footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
@media (min-width: 768px) {
  .bloc_footer {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}
.bloc_footer .text {
  padding-top: 5%;
  font-size: 18px;
  color: #FFFFFF;
  font-family: Shrikhand;
  padding-left: 2%;
  padding-bottom: 3%;
}
@media (min-width: 768px) {
  .bloc_footer .text {
    display: flex;
    justify-content: flex-end;
    padding: 5%;
    padding-right: 3%;
    align-items: baseline;
  }
}
.bloc_footer .choice {
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .bloc_footer .choice {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    gap: 8%;
    width: 50%;
    font-size: 10px;
  }
}
.bloc_footer .choice h4 {
  color: #FFFFFF;
  font-family: Roboto;
  padding-left: 40px;
}
@media (min-width: 768px) {
  .bloc_footer .choice h4 {
    width: 20%;
    display: contents;
  }
}
.bloc_footer .choice .logo_footer {
  display: flex;
}
@media (min-width: 768px) {
  .bloc_footer .choice .logo_footer {
    margin-right: 40%;
    display: contents;
  }
}
.bloc_footer .choice img {
  display: flex;
  position: relative;
  left: 15px;
}
@media (min-width: 768px) {
  .bloc_footer .choice img {
    display: flex;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: -2%;
  }
}
.bloc_footer .mentions {
  color: #FFFFFF;
  padding-left: 5%;
  display: flex;
  padding-bottom: 3%;
}
@media (min-width: 768px) {
  .bloc_footer .mentions {
    display: flex;
  }
}
.bloc_footer .contact {
  padding-left: 5%;
  color: #FFFFFF;
  display: flex;
}
@media (min-width: 768px) {
  .bloc_footer .contact {
    margin-top: -30%;
    font-size: smaller;
  }
}

/*flèche du header*/
#header-menu::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkti-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 900;
  content: "\f060";
  left: 15px;
  top: 45%;
  transform: translateY(-50%);
  /*translateY pour l'axe verticale remonter la flèche de 50% de sa hauteur (-50% c'est sa taille a lui)*/
  font-size: 20px;
}

.banner img {
  display: block;
  width: 100%;
  height: 20vh;
  /*vh = taille de l'ecran hors barre de recherche etc*/
  object-fit: cover;
}

.resto__title {
  border-radius: 50px 50px 0 0;
  background: #F6F6F6;
  margin-top: -40px;
  position: relative;
}
@media (min-width: 768px) {
  .resto__title {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 60px;
  }
}
.resto__title h2 {
  position: relative;
  font-family: "shrikhand", "cursive";
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .resto__title h2 {
    display: flex;
    justify-content: center;
  }
}

.heart {
  position: relative;
  display: flex;
  bottom: 60px;
  -webkit-background-clip: text;
  background-clip: text;
}
.heart i {
  font-size: 25px;
  position: absolute;
  right: 15px;
  top: 80%;
  background-clip: border-box;
  -webkit-background-clip: text;
}
@media (min-width: 768px) {
  .heart i {
    right: 330px;
  }
}
.heart .fas {
  color: transparent;
}
.heart:hover .fas {
  background-image: linear-gradient(150deg, #9356dc, #ff79da);
  animation: heart 1s;
}

.main-resto {
  display: flex;
  justify-content: center;
  background: #F6F6F6;
}
@media (min-width: 768px) {
  .main-resto {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
  }
}
.main-resto .menus {
  background-color: #F6F6F6;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .main-resto .menus {
    padding-top: 1px;
    width: 70%;
  }
}
.main-resto .menus h3 {
  position: relative;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 5px;
  text-transform: uppercase;
  /*mettre le texte en majuscule*/
  font-weight: lighter;
  /*pseudo-element pour petite barre verte sous titre*/
}
@media (min-width: 768px) {
  .main-resto .menus h3 {
    margin-left: 200px;
  }
}
.main-resto .menus h3::after {
  content: "";
  height: 4px;
  width: 30px;
  background-color: #99E2D0;
  position: absolute;
  top: 50px;
  left: 5px;
}
@media (min-width: 768px) {
  .main-resto .menus h3::after {
    top: 50px;
  }
}
.main-resto .menus .menus-category {
  border-radius: 10px;
}
@media (min-width: 768px) {
  .main-resto .menus .menus-category {
    margin-left: 200px;
    margin-right: 200px;
  }
}
.main-resto .menus .menus-category .menu-item {
  display: flex;
  overflow: hidden;
  /*pour faire disparaitre ce qui dépasse du cadre*/
  background-color: #FFFFFF;
  box-shadow: 2px 1px 7px -3px #7e7e7e;
  border-radius: 10px;
  animation: appear 2s;
}
.main-resto .menus .menus-category .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
.main-resto .menus .menus-category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
.main-resto .menus .menus-category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
@media (min-width: 768px) {
  .main-resto .menus .menus-category .menu-item {
    padding: 0.5%;
    padding-right: 0;
  }
}
.main-resto .menus .menus-category .menu-item .price {
  margin-left: auto;
  font-weight: 900;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}
.main-resto .menus .menus-category .menu-item .menu-item__description {
  padding: 10px;
  font-size: 12px;
}
.main-resto .menus .menus-category .menu-item .menu-item__clic {
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  margin-right: -25px;
  width: 25px;
  border-radius: 0 10px 10px 0;
  transition: margin-right 0.5s;
}
.main-resto .menus .menus-category .menu-item .menu-item__clic i {
  display: grid;
  place-items: center;
  background: #FFFFFF;
  width: 18px;
  border-radius: 10px;
  color: #99E2D0;
}
.main-resto .menus .menus-category .menu-item:hover .menu-item__clic {
  margin-right: 0;
  margin-top: -10px;
  margin-bottom: -10px;
}
.main-resto .menus .menus-category .menu-item .order {
  padding: 18px;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  background: linear-gradient(#ff79da, #9356dc);
  margin-top: 4px;
  box-shadow: 2px 1px 8px -3px black;
  margin-bottom: 10%;
  border: #9356dc;
}

#Page-resto .order {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Page-resto .order button {
  padding: 18px;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  background: linear-gradient(#ff79da, #9356dc);
  margin-top: 4px;
  box-shadow: 2px 1px 8px -3px black;
  margin-bottom: 10%;
  border: #9356dc;
}
@media (min-width: 768px) {
  #Page-resto .order button {
    padding: 25px;
    padding-left: 8%;
    padding-right: 8%;
    margin: 0;
  }
}
#Page-resto .order button:hover {
  cursor: pointer;
  box-shadow: 2px 1px 7px darkgray;
  opacity: 0.9;
}

@media (min-width: 768px) {
  .bloc_footer .choice h4 {
    font-size: 5px;
  }
}

@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  /*on est pas obligé de mettre 0% {} le navigateur sera que c'est automatiquement ce que c'est*/
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
