.cartes {
    background-color: #f6f6f6;

    h2 {
        margin-bottom: 20px;
    }

    .cartes_menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;

    }


    .card {
        border: 1px solid black;
        height: 30px;
        flex-grow: 1;
    }
}