.bloc_footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    @media (min-width:768px) {

        flex-direction: row-reverse;
        align-items: flex-end;

    }

    & .text {
        padding-top: 5%;
        font-size: 18px;
        color: $white;
        font-family: Shrikhand;
        padding-left: 2%;
        padding-bottom: 3%;

        @media (min-width:768px) {
            display: flex;
            justify-content: flex-end;
            padding: 5%;
            padding-right: 3%;
            align-items: baseline;

        }

    }

    & .choice {
        padding-bottom: 3%;
        display: flex;
        flex-direction: column;
        gap: 10px;


        @media (min-width:768px) {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            position: relative;
            gap: 8%;
            width: 50%;
            font-size: 10px;

        }
    }

    & .choice h4 {
        color: $white;
        font-family: Roboto;
        padding-left: 40px;

        @media (min-width:768px) {
            width: 20%;
            display: contents;

        }

    }

    & .choice .logo_footer {
        display: flex;

        @media (min-width:768px) {
            margin-right: 40%;
            display: contents;

        }
    }

    & .choice img {
        display: flex;
        position: relative;
        left: 15px;

        @media (min-width:768px) {
            display: flex;
            padding-right: 1%;
            padding-left: 1%;
            margin-right: -2%;
        }
    }

    & .mentions {
        color: $white;
        padding-left: 5%;
        display: flex;
        padding-bottom: 3%;

        @media (min-width:768px) {
            display: flex;
        }
    }

    & .contact {
        padding-left: 5%;
        color: $white;
        display: flex;

        @media (min-width:768px) {
            margin-top: -30%;
            font-size: smaller;
        }
    }
}