@import "../assets/box-shadow";
@import "../utils/_variables";
@import "../utils/_colors";

.menu {
    counter-reset: section;
    /*a la place de <span> pour changer*/

    & ol {
        display: flex;
        gap: 20px;

        @media (max-width:767px) {
            flex-direction: column;
        }
    }

    & li {
        position: relative;

        &::before {
            /*content obligatoire même vide sinon ça marche pas*/
            content: counter(section);
            counter-increment: section;
            color: white;
            background-color: colors.$primary;
            width: 2 *variables.$menu-base-height;
            height: 2 *variables.$menu-base-height;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            left: -1 *variables.$menu-base-height;
        }

        list-style-type:none;
        background-color: #f6f6f6;
        padding: 20px 20px;
        flex-grow: 1;
        border-radius: 16px;
        @include box-shadow.base-shadow;


        & i.fas {
            margin-right: 16px;
            color: colors.$lightgrey;
            font-size: 20px;
        }
    }
}