.menu {

    & h2 {
        padding-left: 2%;
    }

    counter-reset: section;
    /*a la place de <span> pour changer. Numérotation automatique*/

    & ol {
        display: flex;
        gap: 20px;

        @media (max-width:767px) {
            flex-direction: column;
        }
    }

    & li {
        position: relative;

        &::before {
            /*content obligatoire même vide sinon ça marche pas*/
            content: counter(section);
            counter-increment: section;
            color: white;
            background-color: $primary;
            width: 2 $menu-base-height;
            height: 2 $menu-base-height;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            left: -1 $menu-base-height;
        }

        list-style-type:none;
        background-color: #f6f6f6;
        padding: 20px 20px;
        flex-grow: 1;
        border-radius: 16px;

        & i.fas {
            margin-right: 16px;
            color: $lightgrey;
            font-size: 20px;
        }
    }
}