.btn-explore {
    text-align: center;
    background-color: $background;

    h1 {
        font-weight: bold;
        font-size: 30px;
        padding-top: 10%;
        color: $black;

        @media (min-width:768px) and (max-width:1440px) {
            padding-top: 3%;
            font-size: 40px;
        }
    }

    p {
        margin-top: 5%;
        margin-bottom: 8%;

        @media (min-width: 768px) and (max-width:1440px) {
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }

    & button {
        padding: 18px;
        color: white;
        border-radius: 50px;
        font-size: 15px;
        background: linear-gradient($secondary, $primary);
        margin-top: 4px;
        box-shadow: 2px 1px 8px -3px black;
        margin-bottom: 10%;
        border: $primary;

        @media (min-width: 768px) and (max-width:1440px) {
            margin-bottom: 3%;
        }


    }



    & button:hover {
        cursor: pointer;
        box-shadow: 2px 1px 7px darkgray;
        opacity: 0.9;
    }
}