.banner img {
    display: block;
    width: 100%;
    height: 60vh;
    /*vh = taille de l'ecran hors barre de recherche etc*/
    object-fit: cover;
}

.resto__title {
    border-radius: 16px 16px 0 0;
    background: $background;
    margin-top: -40px;
    position: relative;

    h2 {

        position: relative;
        font-family: "shrikhand", "cursive";
        padding: 10px;

        & i {
            font-size: 25px;
            position: absolute;
            right: 40px;
            padding: 5px;
        }

        & .fas {
            color: transparent;

            background-clip: border-box;
            -webkit-background-clip: text;
        }

        & :hover .fas {
            background-image: linear-gradient(150deg, $primary, $secondary);
        }
    }
}

.main-resto {
    padding: 0 8px;
    background: $background;
}

.menus {
    background-color: $background;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.menus-category {
    border: 1px solid red;
    background-color: $white;



    & .menu-items {
        display: flex;
    }
}