header::before {
    @include font-awesome;
    content: "\f060";
    left: 15px;
    top: 45%;
    transform: translateY(-50%);
    /*translateY pour l'axe verticale remonter la flèche de 50% de sa hauteur (-50% c'est sa taille a lui)*/
    font-size: 20px;
}



.banner img {
    display: block;
    width: 100%;
    height: 20vh;
    /*vh = taille de l'ecran hors barre de recherche etc*/
    object-fit: cover;
}

.resto__title {
    border-radius: 50px 50px 0 0;
    background: $background;
    margin-top: -40px;
    position: relative;

    & .heart {
        position: absolute;
        display: flex;
        padding-left: 260px;
        bottom: 40px;
        -webkit-background-clip: text;
        background-clip: text;


        &::before {
            padding: 0;
        }
    }

    @media (min-width:768px) {
        margin-left: 15%;
        margin-right: 15%;
        padding-top: 60px;
    }

    h2 {
        position: relative;
        font-family: "shrikhand", "cursive";
        padding: 10px;
        padding-top: 40px;
        padding-bottom: 30px;


        @media (min-width:768px) {
            display: flex;
            justify-content: center;
        }


        & i {
            @include heart-far;

            @media (min-width:768px) {
                right: 330px;
            }
        }

        & .fas {
            color: transparent;
        }

        &:hover .fas {
            @include heart-fas-hover;
        }
    }
}



.main-resto {
    display: flex;
    justify-content: center;
    background: $background;


    @media (min-width:768px) {
        display: flex;
        justify-content: center;
        background-color: $white;
    }

    .menus {
        background-color: $background;
        display: grid;
        gap: 25px;
        grid-template-columns: 1fr;

        @media (min-width:768px) {
            padding-top: 1px;
            width: 70%;
        }


        h3 {
            position: relative;
            padding-top: 25px;
            padding-bottom: 5px;
            padding-left: 5px;
            text-transform: uppercase;
            /*mettre le texte en majuscule*/
            font-weight: lighter;

            @media (min-width:768px) {
                margin-left: 200px;
            }

            /*pseudo-element pour petite barre verte sous titre*/
            &::after {
                content: "";
                height: 4px;
                width: 30px;
                background-color: $tertiary;
                position: absolute;
                top: 50px;
                left: 5px;

                @media (min-width:768px) {
                    top: 50px;
                }
            }
        }

        .menus-category {
            border-radius: 10px;


            @media (min-width:768px) {
                margin-left: 200px;
                margin-right: 200px;
            }

            .menu-item {
                display: flex;
                overflow: hidden;
                /*pour faire disparaitre ce qui dépasse du cadre*/
                background-color: $white;
                box-shadow: 2px 1px 7px -3px $lightgrey;
                border-radius: 10px;
                animation: appear 2s;


                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        animation-delay: 100ms * $i;
                    }
                }



                @media (min-width:768px) {
                    padding: 0.5%;
                    padding-right: 0;
                }

                .price {
                    margin-left: auto;
                    font-weight: 900;
                    padding: 10px;
                    display: flex;
                    align-items: flex-end;
                }

                .menu-item__description {
                    padding: 10px;
                    font-size: 12px;
                }


                .menu-item__clic {
                    display: grid;
                    place-items: center;
                    background-color: $tertiary;
                    margin-right: -25px;
                    width: 25px;
                    border-radius: 0 10px 10px 0;
                    transition: margin-right 0.5s;

                    i {
                        display: grid;
                        place-items: center;
                        background: $white;
                        aspect-ratio: 1;
                        /*pour que le whidth et le height soit */
                        width: 18px;
                        border-radius: 10px;
                        color: $tertiary;
                    }
                }

                &:hover .menu-item__clic {
                    margin-right: 0;
                    margin-top: -10px;
                    margin-bottom: -10px;
                }


                .order {
                    @include base-button;
                }
            }
        }

    }
}

#Page-resto .order {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;



    button {
        @include base-button;


        @media (min-width:768px) {
            padding: 25px;
            padding-left: 8%;
            padding-right: 8%;
            margin: 0;
        }

    }

    & button:hover {
        cursor: pointer;
        box-shadow: 2px 1px 7px darkgray;
        opacity: 0.9;
    }
}


.bloc_footer .choice h4 {
    @media (min-width:768px) {
        font-size: small;
    }
}